﻿/* Pretty printing styles. Used with prettify.js. */

.str { color: #800000; }
.kwd { color: #0000FF }
.com { color: #808080; }
.typ { color: #2B91AF; }
.lit { color: maroon; }
.pun { color: #000; }
.pln { color: #000; }
.tag { color: #970080; }
.atn { color: #CC0000; }
.atv { color: #0033CC; }
.dec { color: #993300; }
pre.prettyprint
{		
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
		border-width:2px;
		border-color:#222222;
		overflow:auto;
		width:550px;
		max-height:500px;
		background-color:#EEEEEE;
		border-style:solid;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		padding:10px 10px 10px 20px;
		-moz-box-shadow: 3px 3px 5px #888888; /* Firefox */
		-webkit-box-shadow: 3px 3px 5px #888888; /* Safari and Chrome */
		-o-box-shadow: 3px 3px 5px #888888; /* Opera */
		-ms-box-shadow: 3px 3px 5px #888888; /* Safari and Chrome */
		box-shadow: 3px 3px 5px #888888;
}
code.prettyprint, pre.prettyprint
{	        
		font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
		font-size: 10.5pt;
		font-weight:400;
		background-color:#EEEEEE;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums { color:#666; margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type:none; }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background:#eee; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}